body
{
	background-color: #3f4247;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
}

.sidebar
{
    list-style-type: none;
    background-color: #b1b1b1;
    padding: 0;
    margin: 0;
    height:auto; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#photo
{
	margin: 0;
	padding: 0;
	max-height: 90vh;
	max-width: 100vw;
}

div 
{
	/*position: fixed;*/
	width: 100vw;
	height: 100vh;
} 